* {
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 1.5rem;
    text-transform: uppercase;
    line-height: 3rem;
    background-color: lightgray;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    text-align: center;
}

h2 {
    background-color: lightblue;
    padding: 1rem 2rem;
    border-bottom: 1px solid black;
}

h3 {
    text-decoration: underline;
}

button {
    margin-top: 2rem;
    padding: 1rem 2rem;
    font-weight: bold;
    font-size: 1.2rem;
    border-radius: 20px;
    cursor: pointer;
}